<a href="https://colab.research.google.com/github/amityadav108/amityadav108/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Employee Management system (Assignment)

In [ ]:
# Step-1
## Sample Data of Employee

employees = {
            101: {"name": "Amit", "age": 25, "department": "IT", "salary": 60000},
            102: {"name": "Madhu", "age": 23, "department": "HR", "salary": 50000},
            103: {"name": "Mukesh", "age": 27, "department": "Sales", "salary": 55000},
            104: {"name": "Priya", "age": 24, "department": "Finance", "salary": 45000},
            105: {"name": "Anjali", "age": 24, "department": "Marketing", "salary": 50000}
}

# Display empployee (for testing)

def display_all_employees():
    print("\n All Employee Records: \n")
    for emp_id, info in employees.items():
        print(f" ID: {emp_id}: Name: {info['name']}, Age: {info['age']}, Department: {info['department']}, Salary: {info['salary']}")

# testing

display_all_employees()

In [ ]:
# Step -2
## Main Menu

def main_menu():
    while True:
        print("----- Employee Management System -----")
        print("1. Add Employees")
        print("2. View All Employees")
        print("3. Search for Employee")
        print("4. Exit")

        choice = input("Enter your choice(1-4): ")

        if choice == '1':
            add_employee()
        elif choice == '2':
            view_employee()
        elif choice == '3':
            search_employee()
        elif choice == '4':
            print("\n Thank you for using the Employee Management System. \n")
            break
        else:
            print("Invalid Choice. please enter the number between 1 to 4. \n")

In [ ]:
# Step-3
## Add Employee Functionality

def add_employee():
    try:
        emp_id = int(input("Enter the Employee ID: "))
        if emp_id in employees:
            print("Employee ID already exists.")
            return
        name = input("Enter Name: ")
        age = int(input("Enter the Age: "))
        department = input("Enter the Department: ")
        salary = float(input("Enter the salary: "))

        employees[emp_id] = {'name': name, 'age': age, 'department': department, 'salary': salary}
        print("Employee  added successfully!")

    except valueError:
        print("Invalid Input. Please enter correct data types.")

In [ ]:
# Step-4
## View all Employee

def view_all_employee():
    if not employee:
        print("No employee available. \n")
        return
    print("\n All Employee Records: \n")
    for emp_id, info in employees.items():
        print(f"ID: {emp_id}, Name: {info['name']}, Age: {info['age']}, Department: {info['department']}, Salary: {info['salary']}")

In [ ]:
# Step-5
## Search Employee

def search_employee():
    try:
        emp_id = int(input("Enter Employee ID to search: "))
        if emp_id in employees:
            info = employees[emp_id]
            print(f"Found - ID: {emp_id}, Name : {info['name']}, Age: {info['age']}, Department: {info['department']}, Salary: {info['salary']} ")
        else:
            print("Employee Not Found.")

    except ValueError:
        print("Invalid Input. Please enter a valid ID.")

In [ ]:
#Step-6
## Run the EMS and Exit the Program
main_menu()

----- Employee Management System -----
1. Add Employees
2. View All Employees
3. Search for Employee
4. Exit
Enter your choice(1-4): 1
Enter the Employee ID: 107
Enter Name: Shiv
Enter the Age: 23
Enter the Department: Sales
Enter the salary: 45000
Employee  added successfully!
----- Employee Management System -----
1. Add Employees
2. View All Employees
3. Search for Employee
4. Exit